<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ken.gravitate">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gravitateicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gravitateicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity"> </activity>
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        // Simple activities for adding new features
        <activity android:name=".SimpleActivity1"></activity>
        <activity android:name=".SimpleActivity3"></activity>

        <activity android:name=".Account.LoginActivity"></activity>

        <activity android:name=".Event.ScheduledEvents"></activity>
        <activity android:name=".Event.NewEvent"> </activity>
        <activity android:name=".Account.MyProfile"> </activity>
        <activity android:name=".Settings.SettingsActivity"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Event.ScheduledEvents"/>
        </activity>
        <activity android:name=".Event.InputFlight"></activity>


        <activity android:name=".Account.EditAccount"
            android:label="Edit Account">
            <intent-filter>
                <action android:name="com.example.ken.gravitate.Account.EditAccount" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Account.ChangePassword"
            android:label="Change Password">
            <intent-filter>
                <action android:name="com.example.ken.gravitate.Account.ChangePassword" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        //API Key for Google Maps
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAXMSQY8WQqLcNhY-wHvUwzI9763f13G4w"/>

	//Chat SDK login activity
	<activity android:name="co.chatsdk.ui.login.LoginActivity">
	    <intent-filter>
	        <action android:name="android.intent.action.MAIN"/>
	        <category android:name="android.intent.category.LAUNCHER"/>
	    </intent-filter>
	</activity>
      
    </application>

</manifest>
